.border {
  background-color: aliceblue;
  color: black;
  margin-top: 475px;
  margin-right: 31px;
  width: 350px;
  height: 700px;
  border: 2px solid black;
  right: 0px;
  top: 200px;
  overflow: hidden;
  display: block;
  position: absolute;
}

/* why does the black border not work? I litteraly used this 
copy paste for timeline and it worked */
