.main-footer {
  color: white;
  background-color: black;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 200px;
  font-family: "verdana";
  font-size: 15px;
  font-weight: 500;
}

.link-F {
  color:#FFD54F;
  background-color: transparent;
}

.link-F:hover {
  color:#E4B429;
  background-color: transparent;
}
