/* CSS for Footer.js */
/* css for position of the footer */
.main-footer {
  color: white;
  background-color: black;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 200px;
  font-family: "verdana";
  font-size: 15px;
  font-weight: 500;
}
/* css for links mentioned */
.link-F {
  color: #ffd54f;
  background-color: transparent;
}
/* css for links being hovered over */
.link-F:hover {
  color: #e4b429;
  background-color: transparent;
}
