.Map {
  background-color: transparent;
  width: 1000px;
  height: 700px;
  border: 3px solid black;
  margin-left: 100px;
  margin-top: 100px;
  overflow: hidden;
  display: block;
  position : relative;
}

.background {
  position: absolute;
  width: 2000px;
  height: 1500px;
}

.marker1 {
width: 20px;
height: 30px;
position: absolute;
}

.marker2 {
  width: 20px;
  height: 30px;
  position: absolute;
}



.zoom {
    height:200vh;  
    width:100%;
    position: relative;  
 
}






/* .Map .ImageFollow {
  width : 500px;
	height : 200px;
}

.Map .ImageFollow .msg{
  width : 500px;
	height : 200px;
	position: absolute;
}

.Map .ImageFollow .always_half{
	position: absolute;
} */


