.border {
  background-color: aliceblue;
  color: black;
  margin-top: 475px;
  margin-right: 31px;
  width: 350px;
  height: 700px;
  border: 2px solid black !important;
  right: 0px;
  top: 100px;
  overflow: hidden;
  display: block;
  position: absolute;
}

/* 
an attempt to enlarge the marker images; could be part of marker interactions
image size is specified in .js file 
I'm not sure how to add effects or change parameters in .js file
*/

.img {
  width: 21px;
  height: 21px;
}

.img:hover {
  width: 40px;
  height: 140px;
}

.img:active {
  width: 40px;
  height: 40px;
}
