.Timeline-title {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.timeline-button-group {
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 0px;
}
