/* css for timeline title badge */
.Timeline-title {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  position: relative;
  font-family: "Barlow-Thin", sans-serif;
  font-size: 40px;
  margin-top: 70px;
}

/* css for logo beside timeline title */
.journeylogoclass {
  margin-left: 20px;
}

/* css for timeline button group (stages) */
.timeline-button-group {
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  font-family: "Barlow-Thin", sans-serif;
  font-weight: 700;
}
