.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2em;
  margin-bottom: 2em;
  background-color: black;
  color: #fff;
}

.Title-Subtitle {
  color: white;
  align-items: baseline;
}
