.Verticalmenu {
    width: 200px;
    position: absolute;
    top: 19%;
    left: 70%;
  }
  
  .Verticalmenu a {
    background-color:white;
    color:white;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .Verticalmenu a:hover {
    background-color: #ccc;
  }
  
  .Verticalmenu a.top {
    background-color: white;
    color: black;
  }