.Verticalmenu {
    width: 200px;
    position: absolute;
    top: 19%;
    left: 72%;
  }
  
  .Verticalmenu a {
    background-color:black;
    color:white;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .Verticalmenu a:hover {
    background-color: #ccc;
  }
  
  .Verticalmenu h4 {
    background-color: black;
    color: white;
    font-weight: bold;
  }