.Verticalmenu {
  width: 280px;
  position: absolute;
  top: 19%;
  left: 72%;
}

.top {
  background-color: black;
  color: white;
  display: block;
  padding: 0px;
  font-size: 25px;
  text-decoration: none;
}

/* .Verticalmenu h1 {
  background-color: yellow;
  color: white;
  display: block;
  padding: 0px;
  font-size: 25px;
  text-decoration: none;
} */

.top:hover {
  cursor: pointer;
  color: yellow;
}

.Verticalmenu a:hover {
  background-color: #ccc;
}

.Verticalmenu h4 {
  background-color: black;
  color: white;
  font-weight: bold;
}
