.App {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

.googlemap {
  margin-left: 100px;
  margin-top: 100px;
}

body {
  /* official UW color */
  background-color: rgb(255, 213, 79);
  /* background-color: rgb(255, 255, 170); */
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  /* text-align: center; */
}

.content-wrap {
  flex: 1;
}
