.App {
  text-align: center;
}

body {
  /* official UW color */
  background-color:rgb(255, 213, 79);
}


.App > h1 {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}


