body {
  margin: 0;
  font-family: "Karla", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: local('BarlowCondensed'), url(./fonts/BarlowCondensed-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'BarlowThin';
  src: local('BarlowCondensed-Thin'), url(./fonts/BarlowCondensed-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'BarlowMedium';
  src: local('BarlowCondensed-Medium'), url(./fonts/BarlowCondensed-Medium.ttf) format('truetype');
}